@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.background {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  z-index: 2;
  top: 0;
}
